# Data files and large artifacts

*.csv
!raw data/
!raw data/*.csv

processed/*
geonames/
provinces/
worldpop_rasters/
checkpoints/
summaries/
plots/
submissions/
# Notebook checkpoints
.ipynb_checkpoints/

# OS/editor files
.DS_Store
Thumbs.db

# Python cache files
__pycache__/
*.pyc
.vscode/
.venv/